[Unit]
Description=Whos Watching Bot

[Service]
ExecStart=/home/rooxo/who-is-watching/whoiswatching
WorkingDirectory=/home/rooxo/who-is-watching
Type=simple
Restart=always

[Install]
WantedBy=default.target
